<!DOCTYPE html>
<html>
<head>
    <title>{% block head_title %}Hobo{% endblock %}</title>
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon" />
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <script type="text/javascript" src="/assets/js/lib/require-setup.js"></script>
    <script type="text/javascript" src="/assets/js/lib/require.js"></script>
    {% block head_scripts %}Default head_scripts{% endblock %}
</head>
<body>
    <!-- 导航条 -->
    <nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand" href="/">Home</a> -->
            <a class="navbar-brand" href="/">
                <img alt="Brand" width="20" height="20" src="/assets/img/icon_brand.png">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li><a href="/example/test/jwt/login">JWT</a></li>
                <li><a href="/example/test/jwt/tester">JWT2</a></li>
                <li><a href="/example/test/upload">upload</a></li>
                <li><a href="/example/test/ws">Socket</a></li>
                <li><a href="/example/test/jsonp">jsonp</a></li>
                <li><a href="/admin" target="_blank">admin</a></li>
                <li><a href="http://jaeger.hbchen.com" target="Jaeger">Jaeger</a></li>
                <li><a href="https://github.com/foxiswho/echo-go" target="GitHub">GitHub</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                    {% if _user.Id %}
                        <li><a href="/example/test/logout?return_url={{requestUrl}}">Logout</a></li>
                    {% else %}
                        <li><a href="/example/test/login?return_url={{requestUrl}}">Login</a></li>
                        <li><a href="/example/test/register?return_url={{requestUrl}}">Register</a></li>
                    {% endif %}
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    </nav>

    <!-- Error Tips -->
    {% for error in _error %}
        {{ error }}
    {% endfor %}

    {% block content %}Default content{% endblock %}
<footer>
</footer>
</body>
</html>