{% extends "../../base.html" %}

{% block head_title %}
{{title}}
{% endblock %}

{% block head_scripts %}
<script type="text/javascript">
	requirejs(['bootstrap']);
</script>
{% endblock %}

{% block content %}
<div class="container" style="padding:0px 10px; width:900px;">
	<div class="jumbotron">
		<h1>Welcome!</h1>
		<p>吧啦吧啦吧啦！</p>
		{% if _user.Id %}
		<p>Hello {{_user.Username}}!</p>
		{% endif %}
		<p><a class="btn btn-primary btn-lg" href="https://github.com/foxiswho/shop-go" role="button" target="GitHub">GitHub</a></p>
	</div>
</div>
{% endblock %}